{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <title>
      {% block title %} BookMyTheatre: Movie Tickets, Plays, Sports, Events &
      Cinemas near you {% endblock title %}
    </title>
  </head>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>
  <body class="min-h-screen">
    {% if messages %}
    <script>
        {% for message in messages %}
          Toastify({
            text: "{{ message }}",
            duration: 3000,
            close: true,
            gravity: "top",
            position: "center",
            stopOnFocus: true,
            style: {
              background: "{% if message.tags == 'success' %}linear-gradient(to right, #00b09b, #96c93d){% elif message.tags == 'error' %}linear-gradient(to right, #ea6b09, #e90d0d){% else %}linear-gradient(to right, #0712f0, #515ee5){% endif %}"
            },
          }).showToast();
      {% endfor %}
    </script>
    {% endif %}
    {% block content %} {% endblock content %}
  </body>
</html>
